body {
    background-color: #F6F1EE;
}

header,
main,
footer {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px) / 2;
    margin-right: calc(50% - 400px) / 2;
}

main img {
    width: 80%;
    margin-top: 10%;
    margin-left: 30%;
}

main div {
    margin-left: 30%;
}

div a {
    margin-left: 44%;
    display: inline-block;
    text-decoration: none;
    background-color: #6F4A6B;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}